# Jekyll build artifacts
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/

# Ruby
vendor/
.bundle/
Gemfile.lock

# OS
.DS_Store

# Logs
*.log

# Node
node_modules/
coverage/
*.tgz
package-lock.json

# TypeScript
*.tsbuildinfo
Andrea's music games.pdf
