---
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/math-for-kids/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="icon" type="image/svg+xml" href="/math-for-kids/favicon.svg">
</head>
<body class="font-comic bg-gradient-to-br from-indigo-500 to-purple-700 min-h-screen text-gray-800 p-5">
    <slot />
</body>
</html>
